@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    transition: all .6s ease-in-out;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header {
    transition: all .6s ease-in-out;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    height: 80px;
    color: #AAAAAA;
}
header .btn-exit {
    transition: all .6s ease-in-out;
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #FA4E4E;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
}
header .user-area {
    border: 1px solid #666;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toogle-menu {
    display: none;
    font-weight: 700;
    font-size: 2rem;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #AAAAAA;
}
.navbar-menu {
    width: 40%;
}
.menu-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-dark {
    margin: 5px;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all .6s ease-in-out;
}
.btn-dark::before {
    transition: all .6s ease-in-out;
    content: '';
    background-color: #666;
    width: 30%;
    height: 80%;
    position: absolute;
    border-radius: 100%;
    left: 2px;
    bottom: 2px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
}
.btn-dark.active {
    transition: all .6s ease-in-out;
    background-color: #dddd;
}
.btn-dark.active::before {
    transition: all .6s ease-in-out;
    background-color: rgb(71, 71, 247);
    transform: translateX(50px);
}
main {
    width: 100vw;
}
.section-form {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.section-form form {
    transition: all .6s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 82px;
    margin-left: 10px;
    border: 1px solid #cccc;
    border-radius: 20px;
    align-items: center;
    background-color: #eee;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
}
.section-form form input {
    transition: all .6s ease-in-out;
    padding-left: 10px;
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 3px solid #ccc;
    color: #666;
    background: none;
    font-weight: 700;
}
.section-form form input::placeholder {
    color: #AAAAAA;
}
.section-form form .btn-add {
    margin-left: 10px;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    color: #AAAAAA;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.section-form form .btn-add:hover {
    color: #095932;
}
.section-form form .btn-add:disabled {
    cursor: auto;
    color: #aaa;
}
.task-active {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #aaa;
}
.task-active h3 {
    width: 722px;
    max-width: 80%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 85px;
    color: #555;
}
.task-active h3::after {
    content: '';
    width: 2px;
    height: 120px;
    background-color: #ccc;
    position: absolute;
    top: 114px;
}
.task-active .lists-active {
    width: 100vw;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-active .lists-active .task {
    width: 595px;
    height: 80px;
    max-width: 80%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border: 2px solid #AAAAAA;
    border-radius: 20px;
}
.task-active .lists-active .task .btn-complete {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    top: 30px;
    left: -50px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all .6s ease-in-out;
    border: 2px solid #095932;
}
.task-active .lists-active .task .btn-complete::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 12px;
    left: 30px;
    background-color: #52FA95;
}
.task-active .lists-active .task .btn-complete:hover {
    background-color: #095932;
}
.task-active .lists-active .task h4, h5, span {
    font-size: 0.8rem;
    font-weight: 700;
    color: #333;
    transition: all .6s ease-in-out;
}
.btn-task {
    font-size: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 10px;
    transition: all .6s ease-in-out;
    
}
.btn-task:hover {
    background-color: #ccc;
}
.complete-task {
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-top: 20px;
    border-top: 1px solid #aaa;
    background-color: #f5ecec;
}
.complete-task h3 {
    width: 722px;
    max-width: 80%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 85px;
    color: #555;
    background-color: #ddd;
}
.complete-task h3::after {
    content: '';
    width: 2px;
    height: 120px;
    background-color: #ccc;
    position: absolute;
    top: 103px;
}
.complete-task .lists-complete {
    width: 100vw;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.complete-task .lists-complete .task-complete {
    width: 595px;
    height: 80px;
    max-width: 80%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border: 2px solid #AAAAAA;
    background-color: #eee;
    border-radius: 20px;
}
.complete-task .lists-complete .task-complete h4 {
    font-size: 0.8rem;
    color: #333;
}
.area-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: all .6s ease-in-out;
}
.area-modal.modal-active {
    visibility: visible;
    opacity: 1;
}
.area-return {
    width: 100%;
    padding: 10px;
}
.area-return .return {
    margin-left: 30px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #52FA95;
    cursor: pointer;
}
.area-modal .modal {
    background-color: #eee;
    border-radius: 40px;
    margin-top: 80px;
    height: 380px;
    width: 550px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
    position: relative;
}
.modal h4 {
    font-size: 1.3rem;
    color: #333;
}
.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.modal form button {
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    width: 250px;
    max-width: 80%;
    height: 30px;
    font-weight: 700;
    background-color: #095932;
    cursor: pointer;
    color: #fff;
    transition: all .6s ease-in-out;
}
.modal form button:disabled {
    background-color: #ccc;
    color: #444;
    cursor: auto;
}
.modal form .input-modal {
    width: 350px;
    height: 40px;
    background: none;
    border: 1px solid #52FA95;
    border-radius: 20px;
    outline: none;
    max-width: 80%;
    transition: all .6s ease-in-out;
}
.modal form .input-modal:disabled {
    border-color: #cccc;
    color: #aaa;
    background-color: #ddd;
}
.modal .edit-task {
    position: absolute;
    top: 55px;
    right: 80px;
    background: none;
    border: 1px solid #095932;
    border-radius: 10px;
    font-size: 1.3rem;
    color: #095932;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.modal .edit-task:hover {
    background-color: #095932;
    color: #fff;
}
body::-webkit-scrollbar {
    width: 10px;               
}
  
body::-webkit-scrollbar-track {
    background: #eee;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #aaa;    
    border-radius: 20px;
    height: 5px;
    width: 10px;       
}
@media (max-width: 800px){
    .toogle-menu {
        display: flex;
        align-items: center;
    }
    .navbar-menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #eee;
        height: 100%;
        width: 0;
        border-top-right-radius: 20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
        transition: all .2s ease-in-out;
    }
    .navbar-menu .menu-items {
        display: none;
        height: 100%;
        flex-direction: column;
    }
    .toogle-menu.active + .navbar-menu {
        width: 50%;
    }
    .toogle-menu.active + .navbar-menu .menu-items {
        display: flex;
    }
    .logo {
        margin-top: 10px;
    }
    header .btn-exit {
        margin-bottom: 16px;
    }
    .btn-dark {
        margin-bottom: 10px;
    }
    .section-form {
        margin-top: 200px;
    }
    .task-active .lists-active .task h4, h5, span {
        font-size: 0.6rem;
    }
}
